@use '@/styles/breakpoints' as *;
@use '@/styles/colors' as *;

.singleProjectView {
  display: flex;
  justify-content: center;
  background-color: $light-green;
  min-height: 100vh;
  width: 100vw;
  padding-bottom: 25px;

  br {
    margin: 30px 0;
  }
}

.singleProjectViewContainer {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: $maxTabletWidth;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include for-tablet-down {
    padding: 0 25px;
  }
}

.bannerImageContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.bannerImage {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.summaryContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $dark-green;
  padding: 25px;
}

.summaryLinks {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.childrenContainer {
  margin-top: 25px;
}

.projectTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.summaryLinks a,
.returnLink {
  text-decoration: none;
  color: $brown;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}

.summaryLinks a {
  color: $darker-green;
  text-transform: uppercase;
}

.summaryLinks a:first-child {
  margin-right: 10px;
}
