@use '@/styles/breakpoints' as *;
@use '@/styles/colors' as *;

.comingSoonView {
  background-color: $light-green;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.comingSoonContainer {
  height: 100%;
  max-width: $max-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 50px;
  margin: 0 5px;
  path {
    fill: $darker-green;
  }
}
