@use '@/styles/breakpoints' as *;
@use '@/styles/colors' as *;

.header {
  background-color: $dark-green;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 50px;
  padding: 0 25px;

  @include for-max-width {
    padding: 0;
  }

  a {
    text-decoration: none;
    transition: transform 0.3s ease;
  }

  a:hover,
  a:focus,
  a:visited {
    text-decoration: none;
    color: black;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $max-width;
  max-width: $max-width;
  height: 50px;
}

.logoContainer {
  display: none;
  height: 50px;

  @include for-tablet-up {
    display: flex;
    align-items: center;
  }
}

.logo {
  border-right: 1px solid $black;
  padding-right: 5px;
  margin-right: 5px;
}

.buttons {
  display: flex;
  align-items: center;

  @include for-mobile {
    width: 100vw;
    justify-content: center;
  }
}

.languageContainer {
  display: none;
  padding-left: 25px;
  border-left: 1px solid $black;

  @include for-tablet-up {
    display: block;
  }
}

.languageSelector {
  background-color: transparent;
  border: none;
}
