@use '@/styles/colors' as *;

.homeView {
  background-color: $light-green;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeViewContainer {
  height: 100vh;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.leftContainer,
.rightContainer {
  width: 50%;
  padding: 0 12.5px;
}

.rightContainer {
  display: flex;
  justify-content: center;
}

.highlight {
  color: $brown;
  font-weight: 600;
}
